@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Rubik+Gemstones&display=swap');
*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
body{
    /* background-color: #CAD7E0; */
    background-color: #050505;
    height: 100%;
    width: 100%;
}
.container{
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    padding: 2vh;
}
.img img{
    border-radius: 26%;
    width: 500px;
    min-height: 400px;
}
.text{
    /* width: 25vw; */
    background:linear-gradient(to right , rgb(55, 29, 184),#2b4455) ;
    text-align: center;
    font-size: 15px;
    padding: 10px;
    font-weight: bold;
    font-family: "Bungee", sans-serif;
    color:rgb(72, 255, 0);
    border-radius: 20px;
    margin: 20px;
}
.sh-name,.va{
    font-size: 20px;
    color: #ABFDFD;
}
.voice{
    width: 150px;
    height: 150px;
    display: none;
}
.mic{
    background-color: rgb(176, 93, 253);
    border: none;
    font-size: 3vh;
    padding: 14px;
    border-radius: 20px;
    font-family:  "Rubik Gemstones", system-ui;
    color: rgb(247, 236, 236);
    margin-top: 5vh;
    transition: all 0.5s;
}
.mic:hover{
    box-shadow: 10px 10px 20px rgb(79, 55, 102);
    letter-spacing: 2px;
}
